<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">

    <tr>               <!-- row 2   -->
        <td>08:45 am</td>        <!-- time    -->
        <td>Help with any issues regarding software installation</td>        <!-- content -->
      </tr>
    <tr>               <!-- row 2   -->
        <td>09:00 am</td>        <!-- time    -->
        <td>Welcome and introduction</td>        <!-- content -->
      </tr>

    <tr>               <!-- row 3   -->
        <td>09:20 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/01-intro.html">Introducing the Unix Shell</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>09:30 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir.html">Navigating Files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/03-create.html">Working With Files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 am</td>        <!-- time    -->
        <td>Coffee Break I</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter.html">Pipes and filters</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:15 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/05-loop.html">Loops</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:40 am</td>        <!-- time    -->
        <td>Coffee Break II</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:55 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/06-script.html">Shell Scripts</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:35 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/07-find.html">Finding Things</a></td>        <!-- content -->
      </tr>
   <tr>               <!-- row 3   -->
        <td>12:50 pm</td>        <!-- time    -->
             <td>Wrap-up and End</td>        <!-- content -->
 </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>08:45 am</td>        <!-- time    -->
        <td>Help with any issues regarding software installation</td>        <!-- content -->
      </tr>
    <tr>               <!-- row 2   -->
        <td>09:00 am</td>        <!-- time    -->
        <td>Welcome and introduction</td>        <!-- content -->
      </tr>

    <tr>               <!-- row 3   -->
        <td>09:15 am</td>        <!-- time    -->
        <td>Introducing Python and Jupyter Notebooks</td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>09:25 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro.html">Python Fundamentals</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:45 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy.html">Analyzing Patient Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:25 am</td>        <!-- time    -->
        <td>Coffee Break I</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:40 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib.html">Visualizing Tabular Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:10 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists.html">Storing Multiple Values in Lists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:45 am</td>        <!-- time    -->
        <td>Coffee Break II</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop.html">Repeating Actions with Loops</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:35 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/06-files.html">Analyzing Data from Multiple Files</a></td>        <!-- content -->
      </tr>
   <tr>               <!-- row 3   -->
        <td>12:50 pm</td>        <!-- time    -->
             <td>Wrap-up and End</td>        <!-- content -->
 </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>08:45 am</td>        <!-- time    -->
        <td>Help with any issues regarding software installation</td>        <!-- content -->
      </tr>
    <tr>               <!-- row 2   -->
        <td>09:00 am</td>        <!-- time    -->
        <td>Welcome and introduction</td>        <!-- content -->
      </tr>

    <tr>               <!-- row 3   -->
        <td>09:10 am</td>        <!-- time    -->
        <td>Recap Python I</td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>09:20 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond.html">Making Choices</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:50 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/08-func.html">Creating Functions</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45 am</td>        <!-- time    -->
        <td>Coffee Break I</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors.html">Errors and Exceptions</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/10-defensive.html">Defensive Programming</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:50 am</td>        <!-- time    -->
        <td>Coffee Break II</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:05 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/11-debugging.html">Debugging</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:20 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/12-cmdline.html">Modules and Command-Line Programs</a></td>        <!-- content -->
      </tr>
   <tr>               <!-- row 3   -->
        <td>12:50 pm</td>        <!-- time    -->
             <td>Wrap-up and End</td>        <!-- content -->
 </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>08:45 am</td>        <!-- time    -->
        <td>Help with any issues regarding software installation</td>        <!-- content -->
      </tr>
    <tr>               <!-- row 2   -->
        <td>09:00 am</td>        <!-- time    -->
        <td>Welcome and introduction</td>        <!-- content -->
      </tr>

    <tr>               <!-- row 3   -->
        <td>09:15 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/01-basics/index.html">Automated Version Control</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>09:20 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/02-setup/index.html">Setting Up Git</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:25 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/03-create/index.html">Creating a Repository</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:35 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/04-changes/index.html">Tracking Changes</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15 am</td>        <!-- time    -->
        <td>Coffee Break I</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/06-ignore/index.html">Ignoring Things</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:05 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/07-github/index.html">Remotes in GitHub</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:50 am</td>        <!-- time    -->
        <td>Coffee Break II</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:05 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/08-collab/index.html">Collaborating and Conflicts</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:40 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/09-conflict/index.html">Discussion on Open Science, Licensing, Citation, and Hosting</a></td>        <!-- content -->
      </tr>
   <tr>               <!-- row 3   -->
        <td>12:50 pm</td>        <!-- time    -->
             <td>Wrap-up and End</td>        <!-- content -->
 </tr>
    </table>
  </div>
</div>
