<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">

    <tr>               <!-- row 2   -->
        <td>12:30 pm</td>        <!-- time    -->
        <td>Installation Problems and Pre-workshop Survey</td>        <!-- content -->
      </tr>
    <tr>               <!-- row 3   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Introducing the Unix Shell</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>2:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>2:15 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Working with Files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:45 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Shell Scripts</a></td>        <!-- content -->
      </tr>
   <tr>               <!-- row 3   -->
        <td>5:00 pm</td>        <!-- time    -->
             <td>Wrap-up and End</td>        <!-- content -->
 </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
    <tr>               <!-- row 1   -->
        <td>12:30 pm</td>        <!-- time    -->
        <td>Installation Problems and Review questions</td>        <!-- content -->
     </tr>
   <tr>               <!-- row 2   -->
      <td>1:00 pm</td>    <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Programming with Python Part 1</a></td>        <!-- content -->
    </tr>
   <tr>               <!-- row 3   -->
        <td>2:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
     </tr>
        <tr>               <!-- row 4  -->
            <td>2:15 pm</td>         <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Analysing Data with Python</a></td>        <!-- content -->
      </tr>
         <tr>               <!-- row 6   -->
        <td>3:30 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
         <tr>               <!-- row 7  -->
        <td>3:45 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Repeating actions with FOR Loops</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>5:00 pm</td>        <!-- time    -->
        <td>Wrap-up and End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
       <tr>               <!-- row 1   -->
        <td>12:30 pm</td>        <!-- time    -->
        <td>Welcome and instructions for the day</td>        <!-- content -->
     </tr>
     <tr>               <!-- row 3   -->
        <td>12:45 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python Part 2</a></td>        <!-- content -->
      </tr>
 <tr>               <!-- row 3   -->
        <td>2:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
     </tr>      
      <tr>               <!-- row 3   -->
        <td>2:15 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Errors and Exceptions</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>3:30 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
     </tr>   
        <tr>               <!-- row 3   -->
        <td>3:45 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Command-Line programs</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
   <td>5:00 pm</td>        <!-- time    -->
        <td>Wrap-up and End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
            <tr>               <!-- row 1   -->
        <td>12:30 pm</td>        <!-- time    -->
        <td>Installation Problems and Review questions</td>        <!-- content -->
     </tr>
     <tr>               <!-- row 3   -->
        <td>12:50 pm</td>        <!-- time    -->
        <td><a href=" https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>        <!-- content -->
      </tr>
 <tr>               <!-- row 3   -->
        <td>2:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
     </tr>      
      <tr>               <!-- row 3   -->
        <td>2:15 pm</td>        <!-- time    -->
        <td><a href=" https://swcarpentry.github.io/git-novice/">Git and Directories</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>3:20 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
     </tr>   
        <tr>               <!-- row 3   -->
        <td>3:35 pm</td>        <!-- time    -->
        <td><a href=" https://swcarpentry.github.io/git-novice/">Recap and Conflicts</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
   <td>5:00 pm</td>        <!-- time    -->
        <td>End/<a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
